REPO_OWNER=
SUBSCRIPTION_ID=

### This file is the single configuration source for local scripts.
### Terraform-specific `TF_VAR_*` names are derived from these variables by
### `commons/scripts/load_terraform_env.sh`.

RESOURCE_GROUP="rg-stage1-aks"
REPO_NAME="kubernetes-platform-case"
GITHUB_BRANCH="main"
LOCATION="canadacentral"
APP_NAME="sp-github-oidc-stage1-platform"
ROLE_NAME="Contributor"
AKS_CLUSTER_NAME="aks-stage1-platform"

DNS_PREFIX="aks-stage1"
NODE_COUNT="1"

# A cheaper VM might be "Standard_B2als_v2" (min 2 vCPUs, 4GiB ram)
# You can request a quota increase if "Standard_B2als_v2" is not available.
VM_SIZE="Standard_D2as_v6"
TIER="Free"

### Obtain these values from `terraform apply` outputs in `infrastructure/terraform-backend`
TF_BACKEND_RESOURCE_GROUP="rg-stage1-tfstate"
TF_BACKEND_STORAGE_ACCOUNT=""
TF_BACKEND_CONTAINER="tfstate"

### PostgreSQL
POSTGRES_SERVER_NAME="psql-stage1-platform"
POSTGRES_DATABASE_NAME="payment_exception_review"
POSTGRES_ADMIN_USERNAME="pgadminmarvin"
POSTGRES_ADMIN_PASSWORD='<choose-a-strong-password>'
POSTGRES_VERSION="16"
POSTGRES_SKU_NAME="Standard_B1ms"
POSTGRES_STORAGE_MB="32768"
POSTGRES_BACKUP_RETENTION_DAYS="7"
POSTGRES_ZONE="1"


### Azure private Subnets
VNET_NAME="vnet-stage1-platform"
VNET_ADDRESS_SPACE="10.20.0.0/16"
AKS_SUBNET_NAME="snet-stage1-aks"
AKS_SUBNET_PREFIX="10.20.1.0/24"
POSTGRES_SUBNET_NAME="snet-stage1-postgres"
POSTGRES_SUBNET_PREFIX="10.20.2.0/28"
POSTGRES_PRIVATE_DNS_ZONE_NAME="stage1-platform.postgres.database.azure.com"
POSTGRES_PRIVATE_DNS_ZONE_LINK_NAME="stage1-platform-postgres-dns-link"

# Monitoring stack
GRAFANA_ADMIN_PASSWORD='<choose-a-strong-password>'
GRAFANA_ADMIN_USER='admin'

