REPO_OWNER=
SUBSCRIPTION_ID=

RESOURCE_GROUP="rg-stage1-aks"
REPO_NAME="kubernetes-platform-case"
GITHUB_BRANCH="main"
LOCATION="canadacentral"
APP_NAME="sp-github-oidc-stage1-platform"
ROLE_NAME="Contributor"
AKS_CLUSTER_NAME="aks-stage1-platform"

DNS_PREFIX="aks-stage1"
NODE_COUNT="1"
VM_SIZE="Standard_D2as_v6"
TIER="Free"

### Obtain these values from `terraform apply` outputs in `infrastructure/terraform-backend`
TF_BACKEND_RESOURCE_GROUP="rg-stage1-tfstate"
TF_BACKEND_STORAGE_ACCOUNT=""
TF_BACKEND_CONTAINER="tfstate"
